<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.claudeclaw.main</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/moses/Services/claudeclaw/scripts/launchd-start.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/moses/Services/claudeclaw</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/Users/moses/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>HOME</key>
    <string>/Users/moses</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>30</integer>
  <key>StandardOutPath</key>
  <string>/tmp/claudeclaw-main.out.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/claudeclaw-main.err.log</string>
  <key>ProcessType</key>
  <string>Interactive</string>
</dict>
</plist>
